* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}

h1 {
  font-family: kajiro;
  font-size: 100px;
  font-weight: 100;
  background-color: gray;
  justify-content: center;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.in {
  left: 2px;
  margin: 100px 100px;
  height: 50px;
  width: 310px;
  font-size: 30px;
  border: 2px solid gray;
  border-radius: 13px;
  text-align: center;
  background-color: antiquewhite;

}

.btn1 {
  font-size: 16px;
  height: 50px;
  width: 90px;
  border-radius: 13px;
  border: 2px solid black;
  cursor: pointer;
  background-color: rgb(176, 175, 175);
}

.out {
  
  background-color: rgb(193, 193, 223);
  width: 100%;
  min-height: 80px;
  font-family: SF;
  padding: 20px;
}

.oplist {
  font-family: sans-serif;
  display: flex;
  margin: 12px 10px;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.btn2 {
  background-color: rgb(242, 70, 70);
  padding: 2px 2px;
  height: 33px;
  width: 58px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  color: white;
}