*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width: 100%;

}
h1{
  font-family: kajiro;
  font-size:100px;
  font-weight: 100;
  background-color: gray;
  justify-content: center;
  display: flex;
  align-items: center;
}
.in{
  left: 2px;
  margin:100px 100px;
  height: 50px;
  width: 310px;
  font-size: 30px;
  border: 2px solid gray;
  border-radius:13px;
  text-align:center;
}
.btn1{
  font-size:16px;
height:50px;
width: 90px;
border-radius: 13px;
border : 2px solid black;
cursor: pointer;
background-color: rgb(176, 175, 175);
}